:root {
    --color-dark-background: rgb(14, 14, 14);
    --color-dark-btn: rgb(32, 32, 32);
    --color-red: rgb(184, 40, 35);
    --color-white: #fff;
    --color-dark-hover: rgb(22, 22, 22);
    --color-green-hover: rgb(51, 149, 26);
}

body {
    font-family: 'Lato', Roboto, Montserrat, sans-serif;
    background-color: var(--color-dark-background);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.content-add-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

#input-new-task {
    border: none;
    font-size: 1rem;
    outline: none;
    padding: 1rem;
    width: 17rem;
    border-radius: 1rem;
}

#btn-new-task {
    border: none;
    font-size: 1rem;
    outline: none;
    padding: 1rem;
}

#btn-new-task {
    background-color: var(--color-dark-btn);
    color: var(--color-white);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: .4s;
}

#btn-ok {
    border: none;
    background-color: var(--color-red);
    color: var(--color-white);
    font-size: 1rem;
    padding: .4rem .8rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: .4s;
}

#to-do-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}

#to-do-list li {
    list-style-type: none;
    font-size: 1.4rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#btn-new-task:hover {
    background-color: var(--color-dark-hover);
}

#to-do-list li:hover {
    background-color: var(--color-dark-hover);
    transform: .4s;
    border-radius: 1rem;
    padding-left: 1rem;
}

#btn-ok:hover {
    background-color: var(--color-green-hover);
}

.check{
    left: 460px; 
    top: 28px; 
    position: absolute;
     width:56px ;
     height:64px;
}

h1{
    left: 0.0.1rem; 
    top: 3px; 
    position:relative;
}
